<ion-content padding>

  <!--<span *ngIf="auth.loading" style="text-align: center !important;">
    <img src="assets/imgs/loading.gif" width="80" style="display: block; margin: 0 auto;">
  </span>-->

  <ng-template [ngIf]="!auth.loading">

    <span style="text-align: center">
      <h1 style="margin-top: 150px !important;">
        <img src="assets/imgs/Logo.jpg" width="200" style="vertical-align:middle">
      </h1>
      <h2>Te ayudamos a gestionar los gastos de tu coche compartido</h2>
    </span>

    <!-- Not loading, not logged in: show login button -->
    <button
      ion-button
      block
      color="primary"
      *ngIf="!auth.loggedIn"
      (click)="this.login()">Entrar</button>




    <button
      ion-button
      block
      color="primary"
      (click)="this.goToTOSPage()">TOS</button>

    <button
      ion-button
      block
      color="primary"
      (click)="this.goToPrivacyPage()">Privacy</button>

    <page-tos-text></page-tos-text>

  </ng-template>

</ion-content>

