<ion-content padding>

  <p *ngIf="auth.loading" text-center>Loading...</p>
  <ng-template [ngIf]="!auth.loading">

    <span style="text-align: center">
      <h1 style="margin-top: 150px !important;">
        <img src="assets/imgs/Logo.jpg" width="200" style="vertical-align:middle">
      </h1>
      <h2>Te ayudamos a gestionar los gastos de tu coche compartido</h2>
    </span>

    <!-- Not loading, not logged in: show login button -->
    <button
      ion-button
      block
      color="primary"
      *ngIf="!auth.loggedIn"
      (click)="this.login()">Entrar</button>

    <!-- Not loading, logged in: show profile and logout button -->
    <ng-template [ngIf]="auth.loggedIn">
      <ion-card *ngIf="auth.user">
        <img [src]="auth.user.picture">
        <ion-card-content>
          <ion-card-title>{{ auth.user.name }}</ion-card-title>
          <pre>{{ auth.user | json }}</pre>
        </ion-card-content>
      </ion-card>
      <button
        ion-button
        block
        color="danger"
        (click)="auth.logout()">Log Out</button>
    </ng-template>

  </ng-template>

</ion-content>
