<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <span (click)="loadPayment(this.paymentId)">Pago</span>
      <img src="assets/imgs/loading.gif" width="30" *ngIf="this.loading && this.loadedPayment" style="vertical-align:middle">
    </ion-title>
    <ion-buttons end>
      <button
        ion-button
        block
        color="primary"
        (click)="goToEditPaymentPage()"
        *ngIf="!this.loading"
      >Editar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <span *ngIf="this.loading && !this.loadedPayment" style="text-align: center !important;">
    <img src="assets/imgs/loading.gif" width="80" style="display: block; margin: 0 auto;">
  </span>

  {{ payment.id }}
  <br>
  {{ payment.quantity }}



  <ion-card style="margin-left: 0">
    <ion-item >
      <ion-grid style="padding-top: 0" style="padding-bottom: 0">
        <ion-row>
          <ion-col col-10>
            <ion-row>
              <font>Taller Rep&Go </font> &ensp; <font color= #002E8B> 45,90€ </font>
            </ion-row>
            <ion-row>
              <font size='2' color=#7A7A7A>Víctor ha ido al taller</font>
            </ion-row>
          </ion-col>
          <ion-col col-2 style="padding-top: 0">
            <ion-icon class="icons" size="large" name="cash" slot="start"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-2 style="align-self: center">
        <font size='3'> Ayer </font>
      </ion-col>
      <ion-col col-7 style="align-self: center">
        <font size='3' color=#7A7A7A>30 de octubre de 2018</font>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="icons" size="large" name="create" slot="start"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <font size='3' style="font-weight: bold"> Taller</font>
    </ion-row>
    <ion-row style="padding-top: 15px">
      <font size='3' style="font-weight: bold"> Notas</font>
    </ion-row>
    <ion-row style="padding-bottom: 15px">
      <font size='3' style="font-style: italic"> le han cambiado los frenos</font>
    </ion-row>
    <ion-row>
      <font size='3' style="font-weight: bold"> Gasto compartido con los usuarios del vehículo</font>
    </ion-row>
  </ion-grid>

</ion-content>
