<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Outgogo</ion-title>
  </ion-toolbar>

  <ion-content>

    <div *ngIf="auth.loggedIn">
      <ion-card *ngIf="auth.user != null">
        <img [src]="auth.user.picture">
        <ion-card-content>
          <ion-card-title>{{ auth.user.name }}</ion-card-title>
          <pre>{{ auth.user | json }}</pre>
        </ion-card-content>
      </ion-card>
      <button
        ion-button
        block
        color="danger"
        (click)="auth.logout()">Log Out</button>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" id="nav" #content swipeBackEnabled="false"></ion-nav>
