<!--
  Generated template for the NewPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="this.mode == 'new'">
      Registrar un pago
      <img src="assets/imgs/loading.gif" width="30" *ngIf="this.loading" style="vertical-align:middle">
    </ion-title>
    <ion-title *ngIf="this.mode == 'edit'">
      Editar el pago
      <img src="assets/imgs/loading.gif" width="30" *ngIf="this.loading" style="vertical-align:middle">
    </ion-title>
    <ion-buttons end>
      <button
        ion-button
        block
        color="primary"
        *ngIf="!this.loading"
        (click)="storePayment()">Guardar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>Cantidad</ion-label>
    <ion-input [(ngModel)]="payment.quantity"></ion-input>
  </ion-item>

  <ion-item *ngIf="this.mode == 'new'">
    <ion-label stacked>¿Para quién es este pago?</ion-label>
    <ion-select [(ngModel)]="payment.receiver.id" name="receiver">
      <ion-option *ngFor="let user of vehicleUsers" [value]="user.id">{{ user.name }}</ion-option>
    </ion-select>
  </ion-item>

</ion-content>
